<form [formGroup]="form">
  <mat-card>
    <div class="row">
      <div class="col flex-end">
        <button mat-icon-button
                type="button"
                (click)="removeProduct.emit(form.value.id)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col">
            {{ form?.value?.title }}
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 flex-start">
            <button mat-icon-button
                    type="button"
                    (click)="remove()">
              <mat-icon>remove</mat-icon>
            </button>
            <input class="text-center w-25"
                   type="number"
                   [formControl]="form.get('amount')"
                   readonly>
            <button mat-icon-button
                    type="button"
                    (click)="add()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="col-6 flex-center">
            {{ form?.value.subtotal | currency }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span *ngIf="form.get('amount').invalid"
                  class="text-danger">Invalid amount</span>
          </div>
        </div>
      </div>

      <div class="col-4">
        <img [src]="form?.value.image_url"
             [alt]="form?.value.title"
             class="img-fluid product-img">
      </div>
    </div>
  </mat-card>
</form>
